body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, black 0%, #010035 50%, #ffffff 100%);
  color: #000000;
  text-align: center;
  margin: 0;
  min-height: 100vh;
}

.panel {
  max-width: 650px;
  margin: 0 auto;
  border-radius: 12px;
}

video {
  border-radius: 10px;
  margin-top: 20px;
}

.progress {
  border-radius: 10px;
  overflow: hidden;
}
